<div class="catways-container">
  <h1>Catways</h1>
  <!-- Exemple temporaire -->
  <table>
    <thead>
      <tr>
        <th class="th-catway-number">Numéro du catway</th>
        <th class="th-availability">Disponibilité</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="td-catway-number">1</td>
        <td class="td-availability">oui/non</td>
      </tr>
      <tr>
        <td class="td-catway-number">2</td>
        <td class="td-availability">oui/non</td>
      </tr>
      <tr>
        <td class="td-catway-number">3</td>
        <td class="td-availability">oui/non</td>
      </tr>
    </tbody>
  </table>
</div>
