<div class="catway-details">
  <h1>Catway N°X</h1>
  <div class="catway-type-container">
    <h2>Type :</h2>
    <p class="type">Court/Long</p>
  </div>
  <div class="catway-state-container">
    <h2>État :</h2>
    <p class="state">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam
      cupiditate iure et? Ratione, cumque quae.
    </p>
  </div>
  <div class="catway-availability-container">
    <h2>Disponibilité :</h2>
    <p class="availability">oui/non</p>
  </div>
</div>
