<div class="catways-container">
  <h1>Catways</h1>
  <table>
    <thead>
      <tr>
        <th class="th-catway-number">Numéro du catway</th>
      </tr>
    </thead>
    <tbody>
      <% catways.forEach(catway => { %>
      <tr>
        <td class="td-catway-number">
          <a href="/catways/<%= catway._id %>"><%= catway.catwayNumber %></a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
