<div class="catway-details">
  <h1>Catway N°<%= catway.catwayNumber %></h1>
  <div class="catway-type-container">
    <h2>Type :</h2>
    <p class="type"><%= catway.type %></p>
  </div>
  <div class="catway-state-container">
    <h2>État :</h2>
    <p class="state"><%= catway.catwayState %></p>
  </div>
</div>
