<div class="home-container">
  <div class="left-content-container">
    <section class="presentation">
      <h1><%= message %></h1>
      <p class="p-presentation">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam esse illo
        sed nemo modi delectus impedit tempora. Corporis officia excepturi
        dolores laudantium, dolorem, fuga quo architecto quasi error quaerat
        doloribus minima assumenda? Labore doloremque totam repellendus,
        deserunt quidem fuga dolores!
      </p>
    </section>
    <section class="api-documentation">
      <h2 class="h2-documentation">Consultez la documentation de l'API !</h2>
      <p>
        En cliquant sur le lien ci-dessous, vous accéderez à la documentation
        officielle de l'API du port de plaisance Russell.
      </p>
      <div class="container-link-documentation-api">
        <a
          href="/documentation"
          target="_blank"
          rel="noopener noreferrer"
          class="link-documentation-api"
        >
          <button class="documentation-btn">Voir la documentation</button>
        </a>
      </div>
    </section>
  </div>
  <div class="right-content-container">
    <section class="login">
      <h2 class="h-login">Connectez-vous</h2>
      <div class="login-form-container">
        <form action="" method="post" class="login-form" id="login-form">
          <label for="email">E-mail :</label>
          <input type="email" name="email" id="email" required />
          <label for="password">Mot de passe :</label>
          <input type="password" name="password" id="password" required />
          <button type="submit">Se connecter</button>
        </form>
      </div>
    </section>
  </div>
</div>
