<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Port de Plaisance Russell</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="left-part-header-container">
        <a href="/dashboard">
          <p>Port de Plaisance Russell</p>
        </a>
      </div>
      <div class="right-part-header-container">
        <nav>
          <button>Réservations</button>
          <div class="dropdown-content">
            <a href="/catways/allReservations">Voir toutes les réservations</a>
            <% catwaysWithReservations.forEach(catway => { %>
            <a href="/catways/<%= catway.catwayNumber %>/reservations">
              Catway <%= catway.catwayNumber %>
            </a>
            <% }) %>
          </div>
          <a href="/catways">Catways</a>
          <a href="/dashboard">Tableau de bord</a>
        </nav>
      </div>
    </header>

    <main>
      <%- body %>
      <!-- C'est ici que le contenu de la page spécifique sera injecté -->
    </main>

    <footer>
      <p>Port de Plaisance Russell</p>
    </footer>

    <script src="/javascripts/dashboard.js" defer></script>

  </body>
</html>
