<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Port de Plaisance Russell</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="left-part-header-container">
        <a href="/dashboard">
          <p>Port de plaisance Russell</p>
        </a>
      </div>
      <div class="right-part-header-container">
        <nav>
          <a href="/reservations">Réservations</a>
          <a href="/catways">Catways</a>
          <a href="/dashboard">Tableau de bord</a>
        </nav>
      </div>
    </header>

    <main>
      <%- body %>
      <!-- C'est ici que le contenu de la page spécifique sera injecté -->
    </main>

    <footer>
      <p>Port de plaisance Russell</p>
    </footer>

    <script>
      // Fonction pour récupérer dynamiquement le numéro de catway
      window.onload = async function () {
        try {
          const response = await fetch("/dashboard/next-catway-number");
          const data = await response.json();
          document.getElementById("catwayNumberCc").value =
            data.nextCatwayNumber;
        } catch (error) {
          console.error(
            "Erreur lors de la récupération du numéro de catway :",
            error
          );
        }
      };

      document
        .getElementById("catwayNumberDcd")
        .addEventListener("change", function () {
          const catwayNumber = this.value;

          fetch(`/dashboard/catway-details/${encodeURIComponent(catwayNumber)}`)
            .then((response) => response.json())
            .then((data) => {
              if (data.error) {
                document.getElementById("catwayTypeDcd").innerText =
                  "Non trouvé";
                document.getElementById("catwayStateDcd").innerText = "";
              } else {
                document.getElementById("catwayTypeDcd").innerText = data.type;
                document.getElementById("catwayStateDcd").innerText =
                  data.catwayState;
              }
            })
            .catch((error) =>
              console.error("Erreur récupération catway:", error)
            );
        });
    </script>
  </body>
</html>
