<div class="reservation-detail-container">
  <h1>Réservation du catway N°X</h1>
  <div class="client-name-container">
    <h2>Nom du client :</h2>
    <p class="client-name">PrénomNOM</p>
  </div>
  <div class="boat-name-container">
    <h2>Nom du bateau :</h2>
    <p class="boat-name">Bateau1</p>
  </div>
  <div class="check-in-container">
    <h2>Début de réservation :</h2>
    <p class="check-in">xx-xx-xxxx</p>
  </div>
  <div class="check-out-container">
    <h2>Fin de réservation :</h2>
    <p class="check-out">xx-xx-xxxx</p>
  </div>
</div>
