<div class="reservations-container">
  <h1>Réservations</h1>
  <table>
    <thead>
      <tr>
        <th class="th-catway-number">Numéro du catway</th>
        <th class="th-client-name">Nom du client</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="th-catway-number">1</td>
        <td class="th-client-name">PrénomNOM</td>
      </tr>
      <tr>
        <td class="th-catway-number">2</td>
        <td class="th-client-name">PrénomNOM</td>
      </tr>
      <tr>
        <td class="th-catway-number">3</td>
        <td class="th-client-name">PrénomNOM</td>
      </tr>
    </tbody>
  </table>
</div>
