<div class="reservations-container">
  <h1>Réservations</h1>
  <table>
    <thead>
      <tr>
        <th class="th-client-name">Nom du client</th>
        <th class="th-check-in-container">Date de début de réservation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="td-client-name">PrénomNOM</td>
        <td class="td-check-in-container">Date de début de réservation</td>
      </tr>
      <tr>
        <td class="td-client-name">PrénomNOM</td>
        <td class="td-check-in-container">Date de début de réservation</td>
      </tr>
      <tr>
        <td class="td-client-name">PrénomNOM</td>
        <td class="td-check-in-container">Date de début de réservation</td>
      </tr>
    </tbody>
  </table>
</div>
